<nav class="navbar navbar-expand-lg bg-dark navbar-dark bg-dark p-3 sticky-top">
    <div class="container-fluid d-flex">
        <a class="navbar-brand text-light" href="/"><span class="fs-1 mt-5 fw-semibold font-black">Dental Clinic</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-font">
                <li class="nav-item">
                    <a class="nav-link fs-5 active fw-normal text-light" href="/admin">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 active fw-normal text-light" href="/dentist">List of Dentist</a>
                </li>
            </ul>
        </div>
    </div>
</nav>